# ROS Build Files
build
install
log

# Python Stuff
__pycache__

# Visual Studio Code
.vscode


# VNav
setup/vectornav.zip
setup/vectorsecrets.txt

# INI
**/imgui.ini

# Zone Identifiers
Zone.Identifier

deps/songs
autonav_ws/src/scr/include/scr/websocketpp/**/*:Zone.Identifier

# python
**/venv

# temporary feeler node testing
autonav_ws/data

.idea/
.idea/git_toolbox_blame.xml
.idea/autonav_software_2025.iml

# ignore video logs
data/*.mp4